/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/ 

/*common start*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #8E8E8E;
}
/*common end*/

/*header start*/
header{
	border: 1px solid;
}
.c_nav{
	padding-top: 0;
}
.n_brand{
	padding-top: 0;
}
.logo{
	font-family: 'Lato', sans-serif;
}
.l_top{
	margin-bottom: -8px;
}
.topimg{
    width: 2px;
    height: 36px;
    margin-bottom: 2px;
}
.l_text{
	font-size: 30px;
	font-weight: 500;
	color: #333333;

}
.menu{
	margin-top: 15px;

}
.menu ul li a{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #8E8E8E !important;
	padding: 0 15px !important;
	/*padding: 0 15px 15px !important;*/
}
.menu ul li a:hover{
	color: #333333 !important
}
.btn-search{
	color: #8E8E8E;

}
.btn-search:hover{
	color: #333333;
}
.btn-search:focus{
	box-shadow: none;
}
.d_search{
	min-width: 350px;
	top: 50px;
	padding: 10px 10px;
}

.d_search[data-bs-popper] {
    left: -300px;
    margin-top: 0.125rem;
}

/*header end*/





/*slider start*/
.hero{}
.c_p_0{
	padding: 0 0;
}

.c_c_pre_btn, .c_c_next_btn{
	align-items: flex-end;
	color: #8E8E8E; 
	width: 10%;
}
.c_c_pre_btn{}
.c_c_next_btn {
    right: auto;
    left: 100px;
}
.c_prev_icon, .c_next_icon {
	background-image: none;
}
.c_c_cap{	
    bottom: 40% !important;
    text-align: left;
    width: 45%;
    /*border: 1px solid black;*/

}
/*slider end*/

/*service start*/
.s_header{}
.s_top{
	/*margin-top: 25px;*/
	/*margin-bottom: 25px;*/
	margin: 25px;
	border-right: 2px solid #333333;
	width: 1px;
	height: 50px;
	display: inline-block;
}
.s_h1{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

}
.s_text{
    margin-top: 30px;
    /*letter-spacing: 0px;*/
    line-height: 30px;
}
.cus_pad{
	padding-top: 65px;
}
.single_service{
    border: 1px solid #8E8E8E;
    padding: 0 15px 0;
}
.s_s_topicon{}

.s_s_topicon i{
	font-size: 60px;
    color: #8e8e8e;
    padding: 10px;
    background-color: white;
    margin-top: -32px;
}
.s_s_h2{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
}
.s_s_hr{
    width: 50px;
    margin: 17px auto;
    color: #8e8e8e;
}
.s_s_p{}
.s_s_a{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #8e8e8e;
	text-transform: uppercase;
}
.single_service:hover{
	border: 1px solid #333333;
	color: #333333;
}
.s_hover:hover{
	color: #333333;
}
/*.single_service:hover .s_s_topicon, .single_service:hover .s_s_link li a{
	color: #333333;
}*/
/*service end*/

/*about start*/
.about{
	/*padding-top: 90px;*/
	margin: 120px 0px;
}
.ab_img{
	/*margin-right: auto;*/
}
.ab_text{
	margin-left: 60px;
	/*margin-left: auto;*/
}
.ab_mar{
	margin-top: 2.5px;
}
.ab_but_mar{
	margin-left: 20px;	
}
.ab_h1{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
}
.ab_p1{
    /*word-spacing: 0px;*/
    letter-spacing: 1px;
}
.ab_p2{
	/*word-spacing: 0px;*/
    letter-spacing: 1px;
}
.ab_button{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
    padding: 10px 40px;
}
.ab_button:hover{
	color: #8e8e8e;
}

/*about end*/

/*work start*/
.work{
	margin-top: -80px;
}
.work_gallary{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.work_gallary li button {
    color: #8E8E8E;
    text-transform: uppercase;
}

.work_gallary li button:hover{
	border: 1px solid #8e8e8e;
	color: #333333;
}
.work_mar{
	margin-top: 30px;
}
/*work end*/

/*choose start*/
.choose{
	margin: 90px 0px; 
}
.ch_part{
	margin: 50px 0px;
}
.ch_icon{
	font-size: 48px;
    color: #8e8e8e;
    /*background-color: white;*/
    margin-top: -32px;
}
.ch_h3{
	/*font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #333333;*/
	display: inline-block;
	margin-left: 30px; 
	text-transform: uppercase;
}
.ch_p{
	margin-top: 20px;

}
.ch_hr{}
/*choose end*/